@import "abstracts/variables";
@import "base/typography";

body {
  display: flex;
  justify-content: center;
}


.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  border: 1px solid red;
}

@import "layout/navbar";
@import "layout/carousel";
@import "layout/img-panel";
@import "layout/footer";
@import "layout/media-queries";
