.footer {
  display: flex;
  align-content: center;
  justify-content: space-around;
  background-color: $footerColor;
}

.footer-card {
  margin: 20px;
  background-color: $bgColor;
  color: white;
  h5 {
    text-transform: uppercase;
    text-align: center;
    font-family: BorisBlackBloxx;
    letter-spacing: 1px;
    margin: 5%;
  }
}
