@media screen and (max-width: $largeBreakpoint) {
  .links {
    a {
      font-size: 15px;
    }
  }

}




@media screen and (max-width: $smallBreakpoint) {
  .menu {
    display: flex;
  }

  .links {
    display: none;
  }

  .navbar {
    flex-direction: column-reverse;
    justify-content: center;
    align-items:center;
  }

  .logo {
    justify-content: center;
  }


  .img-panels {
    flex-direction: column;
    width: 100%;
    img {
      padding: 3% 0 0 0;
    }
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
