@media screen and (max-width: 765px) {
  .img-panels {
    flex-direction: column;
    width: 100%;
    img {
      padding: 3% 0 0 0;
    }
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
