.navbar {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  a {
    text-decoration: none;
    font-family: BorisBlackBloxx;
    color: black;
    font-size: 25px;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  a {
    margin-right: 30px;
  }
}

.home a {
  &:first-child {
    color: red;
  }
  &:last-child {
    color: grey;
  }
}
