.logo {
  display: flex;
  justify-content: flex-end;
}

.navbar {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  a {
    text-decoration: none;
    font-family: BorisBlackBloxx;
    color: black;
    font-size: 25px;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  a {
    margin:0 30px;
  }
}

.home {
  flex: 0 0 auto;
}

.home a {
  &:first-child {
    color: red;
  }
  &:last-child {
    color: grey;
  }
}

.black-bar {
  height:22px;
  width: 100%;
  background-color: $footerColor;
}

.menu {
  display: none;
  justify-content: center;

}
